{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="content-header">
    <h3>Répartition (Mode de paiment)</h3>
</div>
                
<div id="{{ chartId }}" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
<div id="{{ chartId2 }}" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
{% endblock %}
    
{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
    <script type="text/javascript">
        {{ chart(chart2) }}
    </script>
{% endblock %}