{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        {% include 'IOOrderBundle:Dashboard:_left_menu.html.twig' %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Evolution du chiffre d'affaire</h1>

        <div class="filters">
            <h3>Filtres</h3>
            <form action="{{ path('history_index') }}" method="GET">
                <div class="row">
                    <div class="col-md-6">
                    {{ form_row(filters.start_date) }}
                    </div>
                    <div class="col-md-6">
                    {{ form_row(filters.end_date) }}
                    </div>
                </div>
                <div class="clearfix"></div>
                {{ form_rest(filters) }}

                <div class="row">
                    <div class="col-md-12">
                        <button name="filter-action" class="btn btn-primary">Filtrer</button>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
    
    <div id="{{ chartId }}" style="min-width: 600px; height: 400px; margin: 0 auto"></div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {{ chart(chart) }}
    </script>
{% endblock %}