{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <h3>Ajouter une catégorie</h3>
        <div class="clearfix"></div>
    </div>

    <form class="menu-form" action="{{ path('category_create') }}" method="POST" {{ form_enctype(form) }}>
        <div class="col-md-6">
            {{ form_row(form.name) }}
            {{ form_row(form.description) }}
            {{ form_row(form.parent) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.file) }}
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-12">
            {{ form_rest(form) }}
        </div>
        <div class="clearfix"></div>
    </form>

{% endblock %}
