{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}

{% include 'IOCarteBundle::delete_confirm.html.twig' with {title: "Attention", body:"Vous êtes sur le point de supprimer une categorie. Cela supprimera tous les plats de celle-ci. Voulez-vous continuer ?", action_url: "#delete-url#" } %}


<div class="content-header">
    <h3>{{ category.name|raw }}</h3>
    <span class="actionbar">
        <a class="btn btn-primary" href="{{ path('category_edit', {id:category.id}) }}" title="Modifier {{ category.name|raw }}"><i class="fa fa-edit"></i> </a>
        <a class="btn btn-danger" href="#" action-url="{{ path('category_delete', {id:category.id}) }}" title="Supprimer {{ category.name|raw }}" class="confirm-delete" data-toggle="modal" data-target="#deleteConfirm"><i class="fa fa-trash-o"></i> </a>
    </span>
    <div class="clearfix"></div>
</div>

<a href="{{ path('dish_new') }}" role="button" class="btn btn-primary btn-trans" title="Ajouter un plat"><i class="fa fa-plus"></i> Ajouter un plat</a>

<div class="dishes list-group">
    {% for dish in dishes %}
    <div class="dish dishlist-group-item">                
        <a href="{{ path('dish_edit', {id:dish.id}) }}" class="btn btn-primary" role="button" title="Modifier {{ dish.name }}"><i class="fa fa-edit"></i> </a>
        {% if dish.media %}
            <img title="Miniature {{ dish.name }}" class="img-rounded" src="{{ dish.media.thumbnailPath|imageLink }}" alt="#" />
        {% endif %}
        <strong>{{ dish.name }}</strong>
        <em>{{ dish.price|number_format(2, ',', ' ') }} &#8364;</em>
        <span>{{ dish.description|raw }}</span>
    </div>
    {% endfor %}
</div>
{% endblock %}
