{% extends "IOMenuBundle::layout.html.twig" %}

{% import _self as macro %}

{% block content %}
    <div class="actionbar">
        <a href="#" role="button" class="btn btn-primary" title="Ajouter un sous-menu">Ajouter une catégorie</a>
        <a href="{{ path('menu_new') }}" role="button" class="btn btn-primary" title="Ajouter un menu">Ajouter un menu</a>
        <a href="#" role="button" class="btn btn-primary" title="Ajouter un plat">Ajouter un plat</a>
    </div>

    <div class="recherche">
        <h3>Recherche</h3>
        <form action="#" method="POST">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Plat, menu, catégorie, ..." />
            </div>
            <button class="btn btn-default" type="submit">Rechercher</button>
        </form>
    </div>

    <div class="categories list-group">
        <h3>La carte</h3>
        {% for category in categories %}
            {{ macro.display_category(category) }}
        {% endfor %}
        </ul>
    </div>
{% endblock %}

{% macro display_category(category) %}
    <div class="list-group-item category">
        <a href="{{ path('show_category', {id:category.id}) }}">{{ category.name }}</a>
        {% for category in category.children %}
            {{ _self.display_category(category) }}
        {% endfor %}
    </div>
{% endmacro %}
