<form action="{{ path('media_upload') }}" method="POST" enctype="multipart/form-data" class="hidden">
    <input type="file" name="media" />
</form>
<form class="menu-form" action="{{ action }}" method="POST" enctype="multipart/form-data">
    <div id="filehandler" class="photo">
        <a href="#" class="open-file-link">
            {{ form_widget(form.media) }}
            <img src="{% if dish and dish.media %}{{ asset(dish.media|media) }}{% else %}{{ asset('bundles/iodefault/img/no_image_available.png') }}{% endif %}" alt="" />
            <strong>Glisser l'image ou cliquer ici</strong>
            <em></em>
        </a>
    </div>
    <div class="info">
        {#
        <div class="checkbox">
            <label>
            {{ form_widget(form.visible) }} {{ form.visible.vars.label }}
            </label>
        </div>
        #}
        <div class="form-group">
            {{ form_row(form.name) }}
        </div>
        <div class="form-group form-small">
            {{ form_row(form.price) }}
        </div>
        <div class="form-group form-small">
            {{ form_row(form.vat) }}
        </div>
        <div class="form-group">
            {{ form_row(form.description) }}
        </div>
        <div class="form-group">
            {{ form_row(form.shortName) }}
        </div>
        <div>
            {{ form_label(form.dishOptions) }}
            {% for children in form.dishOptions.vars.form.children %}
            <div class="checkbox">
                <label>
                    {{ form_widget(children) }}
                    {% if children.vars.label is defined %}
                      {{ children.vars.label|trans }}
                    {% else %}
                      {{ children.vars.value|capitalize|trans }}
                    {% endif %}
                </label>
            </div>
            {% endfor %}
        </div>
        {{ form_rest(form) }}
    </div>
</form>