{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>{{ entity.name|raw }}</h3>
        <span class="actionbar">
            <a class="btn btn-danger confirm-delete" href="{{ path('dish_delete', {id:entity.id}) }}" title="Supprimer {{ entity.name|raw }}"><i class="fa fa-trash-o"></i> </a>
        </span>
        <div class="clearfix"></div>
    </div>

    <form class="menu-form" action="{{ path('dish_update', {id: entity.id }) }}" method="POST" {{ form_enctype(edit_form) }}>
        {{ form_rest(edit_form) }}
        <div class="clearfix"></div>
        
        <div>
            <button class="btn btn-primary">Valider</button>
        </div>
    </form>

<h4>Options</h4>
<ul>
{% for dishOption in entity.dishOptions %}
    <li><a href="{{ path('dish_delete_option', {id:dishOption.id}) }}" title="Supprimer l'option {{ dishOption.optionList.name }}"><i class="fa fa-trash-o"></i> </a>{{ dishOption.optionList.name }}</li>
{% else %}
    <li>Aucune option pour ce plat</li>
{% endfor %}
</ul>
<a href="{{ path('dish_add_option', {id:entity.id}) }}" class="btn btn-primary">Ajouter une option</a>

{% endblock %}
