{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}
    <div class="recherche">
        <form role="form" method="POST">
            <h2 class="form-signin-heading">Filtres</h2>
            <div class="col-md-offset-2 col-md-4">
                {{ form_label(form.dateFrom) }}
                {{ form_widget(form.dateFrom) }}
            </div>
            <div class="col-md-4">
                {{ form_label(form.dateTo) }}
                {{ form_widget(form.dateTo) }}
            </div>
            <div class="clearfix"></div>

            {{ form_rest(form) }}
            
            <div class="col-md-offset-2 col-md-4">
                <button class="btn btn-primary" type="submit">Voir l'historique</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>

    {% if historique is not null %}
    <div id="historique">
        {% if historique is not empty %}
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Numero de commande</th>
                        <th>Date</th>
                        <th>Heure</th>
                        <th>Durée (en minutes)</th>
                        <th>Montant</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order in historique %}
                        <tr>
                            <td><a href="{{ path('order_edit', { 'id': order.id }) }}">#{{ order.id }}</a></td>
                            <td>{{ order.orderDate|date('d/m/y') }}</td>
                            <td>{{ order.orderDate|date('h:i') }}</td>
                            <td>{{ date_difference_minutes(order.updateDate, order.orderDate) }}</td>
                            <td>{{ order.price }} €</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="col-md-offset-11 col-md-1">
                <a href="{{ path('historique_export') }}" class="btn btn-default">Exporter</a>
            </div>
        {% else %}
            <p>Aucune commande</p>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
