<!DOCTYPE html>
<html>
    <head>
        <title>{{ restaurant.name }}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% stylesheets 
            'bundles/iodefault/css/bootstrap.min.css'
            'bundles/iodefault/css/font-awesome.min.css'
            'bundles/iodefault/css/restaurant.css'
            filter='yui_css,cssrewrite' 
            output='css/restaurant.css' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
        <div class="mainContainer">
            <h1>
                <a href="{{ restaurant.group.website|default("#") }}">
                {% if restaurant.group.visualIdentity and restaurant.group.visualIdentity.logo is not null %}
                    <img src="{{ asset(restaurant.group.visualIdentity.logo|media) }}" alt="{{ restaurant.name }}"/>
                {% else %}
                    {{ restaurant.name }}
                {% endif %}
                </a>
            </h1>
            
            <div class="message">
                <p>Bienvenue sur la commande en ligne du restaurant : {{ restaurant.name }}</p>
            </div>
            
            <div class="menu">
            {% for item in carte %}
                <div class="category">
                    <h3>{{ item.name|upper }}</h3>
                    {% for child in item.children %}
                    <div class="product">
                        <img class="img-rounded" src="{{ asset(child.media.path|mediaWebPath) }}" alt="" />
                        <strong>{{ child.name }}</strong>
                        <em>{{ child.price|number_format(2, '.', ',') }}€</em>
                        <p>
                            {{ child.description|default("")|nl2br }}
                        </p>
                        <a class="btn btn-primary" href="{{ path('remote_order_add_product',  {name:restaurant.name, id:child.id}) }}">Ajouter</a>
                    </div>
                    {% endfor %}
                    <div class="clearfix"></div>
                </div>
            {% endfor %}
            </div>
                
            {% include 'IOOrderBundle:Remote:receipt.html.twig' with {cantOrder:false} %}
            
            <div class="clearfix"></div>
            
            <div class="footer">
                Carte générée par <a href="http://innovorder.fr">InnovOrder</a>
            </div>
        </div>
        
        {% javascripts 
            '@IODefaultBundle/Resources/public/js/jquery.js'
            '@IODefaultBundle/Resources/public/js/bootstrap.min.js'
            filter='yui_js'
            output='js/base.js' %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
