{% extends "IOCarteBundle::layout.html.twig" %}

{% block content -%}
    <h3>
        <small><a href="{{ path('carte') }}" title="Retour à la carte"><span class="glyphicon glyphicon-arrow-left"></span></a></small>
        Ajouter un menu
    </h3>

    {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.price) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.file) }}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-6">
            <ul class="menuCategory" data-prototype="{{ form_widget(form.menuCategories.vars.prototype)|e }}">
                {% for menuCategory in form.menuCategories %}
                    <li>{{ form_row(menuCategory.name) }}</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
        </div>
        <div class="clearfix"></div>
        
        {{ form_rest(form) }}
    {{ form_end(form) }}
        
{% endblock %}
