{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}
    <div class="content-header">
        <h3>Options</h3>
        <span class="actionbar">
            <a class="btn btn-primary" href="{{ path('options_new') }}" title="Ajouter une option"><i class="fa fa-plus"></i> </a>
        </span>
        <div class="clearfix"></div>
    </div>

    {% for option in options %}
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ option.name }}</h3>
                    <div class="actions pull-right">
                        <a href="#" title="Supprimer {{ option.name }}"><i class="fa fa-trash-o"></i> </a>
                        <a href="{{ path('options_edit', {id:option.id}) }}" title="Modifier {{ option.name }}"><i class="fa fa-edit"></i> </a>
                        <i class="fa fa-chevron-down"></i>
                        <i class="fa fa-times"></i>
                    </div>
                </div>
                <div class="panel-body">
                    <ul>
                    {% for item in option.options %}
                        <li>{{ item }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
