{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}
    <div class="actionbar">
        <a href="{{ path('order_new') }}" role="button" class="btn btn-primary" title="Ajouter une commande">Ajouter une commande</a>
    </div>

    <div class="orders">
        {% for order in orders %}
            {% if loop.index0 % 4 == 0 %}
            <div class="clearfix"></div>
            {% endif %}
            <div class="col-md-3 order well">
                <h3>#{{ order.id }}{% if order.tableName %} ({{ order.tableName }}){% endif %}
                    <a href="{{ path('order_edit', {id:order.id}) }}" class="btn btn-primary" role="button" title="Modifier #{{ order.id }}"><span class="glyphicon glyphicon-edit"></span></a>
                </h3>
                <strong>{{ order.status|orderStatus }}</strong>
                <p>
                    MAJ : <em>{{ order.updateDate|date('H:i') }}</em> (<em>{{ order.orderDate|date('h:i') }}</em>)
                </p>
                <ul class="lines">
                    {% for line in order.orderLines %}
                        <li>{{ line.dish.name }}<em>{{ line.dish.price }}</em></li>
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            <strong>Aucune commande en cours</strong>
        {% endfor %}
    </div>
{% endblock %}
