<div class="order {% if order.status == "WAITING" %}order-waiting{% endif %}">
    <h3>{{ order.tableName }}</h3>
    <strong>{{ order.status }}</strong>
    <em>{{ order.orderDate|date('H:i') }}</em>
    {% include 'IOOrderBundle:Default:order_item_list.html.twig' with {order:order} %}
    {% if order.status == "WAITING" %}
    <a href="{{ path('order_accept', {id:order.id}) }}" class="btn btn-primary">OK</a>
    {% else %}
    <a href="{{ path('order_payed', {id:order.id}) }}" class="btn btn-primary">Terminer</a>
    {% endif %}
</div>
