<div class="order {% if order.lastStatus == "WAITING" or order.lastStatus == "INIT" %}order-waiting{% endif %}">
    <h3>{{ (order.client.identity.firstname ~ ' ' ~ order.client.identity.lastname)|default('-') }} #{{ order.id }}</h3>
    <strong>{{ order.lastStatus|trans }}</strong>
    {% if order.isPayed %}
    <strong class="red">PAYEE</strong>
    {% endif %}
    {% if order.orderDate|date('Ymd') == null|date('Ymd') %}
    <em>{{ order.orderDate|date('H:i') }}</em>
    {% else %}
    <em>{{ order.orderDate|date('Y-m-d') }}</em>
    {% endif %}
    {% include 'IOOrderBundle:Default:order_item_list.html.twig' with {order:order} %}
    
    {% if order.lastStatus == "WAITING" or order.lastStatus == "INIT" %}
        <a href="{{ path('order_accept', {id:order.id}) }}" class="btn btn-primary">OK</a>
    {% else %}
        {% if order.isPayed %}
            <a href="{{ path('order_close', {id:order.id}) }}" class="btn btn-primary">Terminer</a>
        {% else %}
            <a href="{{ path('order_payed', {id:order.id}) }}" class="btn btn-primary">Payé</a>
        {% endif %}
    {% endif %}
    <a href="{{ path('order_cancel', {id:order.id}) }}" class="btn btn-danger confirm-cancel">Annuler</a>
</div>
