<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Innov'Order{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}
        
        {% block stylesheets %}
            {% stylesheets 
                'bundles/iocarte/css/bootstrap.css'
                'bundles/iocarte/css/spacelab.css'
                'bundles/iocarte/css/font-awesome.min.css'
                'bundles/iocarte/css/animate.css'
                'bundles/iocarte/css/main.css'
                filter='yui_css,cssrewrite' 
                output='css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
        
    <section id="container">
        <header id="header">
            <!--logo start-->
            <div class="brand">
                <a href="{{ path('homepage') }}" class="logo"><span>Innov</span>Order</a>
            </div>
            <div class="toggle-datetime toggle-left">
                {{ "now"|date("d/m/Y, h:i") }}
            </div>
            <div class="user-nav">
                <ul>
                    {#
                    <li class="profile-photo">
                        <img src="assets/img/avatar.png" alt="" class="img-circle">
                    </li>
                    #}
                    <li class="dropdown settings">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        {{ app.user.username }} <i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu animated fadeInDown">
                            <li>
                                <a href="#"><i class="fa fa-user"></i> Profil</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </header>
    </section>
        
        <!--sidebar left start-->
        <aside class="sidebar">
            <div id="leftside-navigation" class="nano">
                <ul class="nano-content">
                    <li class="active">
                        <a href="#"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a>
                    </li>
                    <li>
                        <a href="{{ path('commande_en_cours') }}"><i class="fa fa-cutlery"></i><span>Commandes en cours</span></a>
                    </li>
                    <li>
                        <a href="{{ path('carte') }}"><i class="fa fa-edit"></i><span>Modifier la carte</span></a>
                    </li>
                    <li>
                        <a href="{{ path('historique') }}"><i class="fa fa-list"></i><span>Historique</span></a>
                    </li>
                </ul>
            </div>
        </aside>
        <!--sidebar left end-->
        
        <!--main content start-->
        <section class="main-content-wrapper">
            <section id="main-content">
                {% for message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% autoescape false %}{{ message }}{% endautoescape %}
                    </div>
                {% endfor %}

                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% autoescape false %}{{ message }}{% endautoescape %}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </section>
        </section>
        
        {% block javascripts %}
            {% javascripts 
                '@IOCarteBundle/Resources/public/js/jquery.js'
                '@IOCarteBundle/Resources/public/js/bootstrap.js'
                '@IOCarteBundle/Resources/public/js/main.js'
                filter='yui_js'
                output='js/main.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>