{% import _self as navbar %}

{% set route = app.request.attributes.get('_route')|default('') %}
{% if route is not empty %}
   {% set currentPath = path(route, app.request.attributes.get('_route_params')) %}
{% else %}
    {% set currentPath = '' %}
{% endif %}

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <div class="masthead">
        <h1>Innov'Order <span>Bienvenue {{ app.user.username }} (<a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>){% if app.user.restaurant %}<br/>{{ app.user.restaurant.name }}{% endif %}</span></h1>
        
        {% if is_granted("ROLE_RESTAURATEUR") %}
            <ul class="nav nav-justified">
                {{ navbar.display_navitem(currentPath, 'Commande en cours', path('commande_en_cours')) }}
                {{ navbar.display_navitem(currentPath, 'Carte', path('carte')) }}
                {{ navbar.display_navitem(currentPath, 'Historique', path('historique')) }}
                {% if is_granted("ROLE_ADMIN") %}
                    {{ navbar.display_navitem(currentPath, 'Import', path('import_homepage')) }}
                {% endif %}
            </ul>
        {% endif %}
    </div>
{% endif %}

{% macro display_navitem(currentPath, title, path) %}
            <li{% if currentPath|slice(0,path|length) == path %} class="active"{% endif %}>
                <a href="{{ path }}">{{ title }}</a>
            </li>
{% endmacro %}
