{% set route = app.request.attributes.get('_route')|default('') %}
{% if route is not empty %}
   {% set currentPath = path(route, app.request.attributes.get('_route_params')) %}
{% else %}
    {% set currentPath = '' %}
{% endif %}

{% if is_granted("IS_AUTHENTICATED_FULLY") %}
    <div class="masthead">
        <h1>Innov'Order <span>Bienvenue {{ app.user.username }}{% if app.user.restaurant %}<br/>{{ app.user.restaurant.name }}{% endif %}</span></h1>
        <ul class="nav nav-justified">
            <li{% if currentPath == path('menu_commande_en_cours') %} class="active"{% endif %}>
                <a href="{{ path('menu_commande_en_cours') }}">Commande en cours</a>
            </li>
            <li{% if currentPath == path('menu_commande_menu') %} class="active"{% endif %}>
                <a href="{{ path('menu_commande_menu') }}">Menu</a>
            </li>
            <li>
                <a href="#">Historique</a>
            </li>
            {% if is_granted("ROLE_ADMIN") %}
                <li{% if currentPath == path('import_homepage') %} class="active"{% endif %}>
                    <a href="{{ path('import_homepage') }}">Import</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
