<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}InnovOrder{% endblock %}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        {% block meta %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block stylesheets %}
            {% stylesheets 
                'bundles/iodefault/css/bootstrap.min.css'
                'bundles/iodefault/css/bootstrap-theme.min.css'
                'bundles/iodefault/css/font-awesome.min.css'
                'bundles/iodefault/css/main.css'
                filter='yui_css,cssrewrite' 
                output='css/main.css' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <link rel="icon" type="image/x-icon" ref="{{ asset('favicon.ico') }}">
    </head>
    <body>
        {% block body %}        
            {% include 'IODefaultBundle::_navbar.html.twig' %} 
        
            {#
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <section id="container">
                    <header id="header">
                        <!--logo start-->
                        <div class="brand">
                            <a href="{{ path('homepage') }}" class="logo"><span>Innov</span>Order</a>
                        </div>
                        <div class="toggle-navigation toggle-left">
                            <button type="button" class="btn btn-default" id="toggle-left" data-toggle="tooltip" data-placement="right" title="Toggle Navigation">
                                <i class="fa fa-bars"></i>
                            </button>
                        </div>
                        <div class="toggle-datetime toggle-left rt-clock">
                            {{ "now"|date("d/m/Y, h:i") }}
                        </div>
                        <div class="user-nav">
                            <ul>
                                <li class="profile-photo">
                                    <img src="assets/img/avatar.png" alt="" class="img-circle">
                                </li>
                                <li class="dropdown settings">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    {{ app.user.username }} {% if app.user.restaurant %}({{ app.user.restaurant.name }}){% endif %} <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="dropdown-menu animated fadeInDown">
                                        <li>
                                            <a href="#"><i class="fa fa-user"></i> Profil</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-power-off"></i> Déconnexion</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </header>
                </section>

                {% include 'IODefaultBundle::menu.html.twig' %} 
            {% endif %}
            #}

            <!--main content start-->
            <div class="container-fluid">
                {% for message in app.session.flashbag.get('error') %}
                    <div class="alert alert-danger">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% autoescape false %}{{ message }}{% endautoescape %}
                    </div>
                {% endfor %}

                {% for message in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        <button type="button" class="close" data-dismiss="alert">&times;</button>
                        {% autoescape false %}{{ message }}{% endautoescape %}
                    </div>
                {% endfor %}

                {% block content %}{% endblock %}
            </div>
                
        {% endblock %}
        
        {% block javascripts %}
            {% javascripts 
                '@IODefaultBundle/Resources/public/js/jquery.js'
                '@IODefaultBundle/Resources/public/js/bootstrap.min.js'
                '@IODefaultBundle/Resources/public/js/highcharts/highcharts.js'
                '@IODefaultBundle/Resources/public/js/highcharts/exporting.js'
                '@IODefaultBundle/Resources/public/js/main.js'
                filter='yui_js'
                output='js/main.js' %}
                <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>