{% if is_granted('ROLE_ADMIN') or is_granted('ROLE_MANAGER') %}
    <!--sidebar left start-->
    <aside class="sidebar">
        <div id="leftside-navigation" class="nano">
            <ul class="nano-content">
                <li class="active">
                    <a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i><span>Tableau de bord</span></a>
                </li>
                {% if is_granted("ROLE_MANAGER") %}
                <li>
                    <a href="{{ path('order_index') }}"><i class="fa fa-cutlery"></i><span>Commandes</span></a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><i class="fa fa-history"></i><span>Historique</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{{ path('history_index') }}"><i class="fa fa-cutlery"></i><span>Historique des commandes</span></a></li>
                        <li><a href="{{ path('history_payment') }}"><i class="fa fa-money"></i><span>Historique des paiments</span></a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><i class="fa fa-bar-chart-o"></i><span>Statistiques</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{{ path('stats_item_distribution') }}"><i class="fa fa-plus"></i> Répartitions (Plats)</a></li>
                        <li><a href="{{ path('stats_time_distribution') }}"><i class="fa fa-plus"></i> Répartitions (Temps)</a></li>
                        <li><a href="{{ path('stats_payment_distribution') }}"><i class="fa fa-plus"></i> Répartitions (Mode de paiement)</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:void(0);"><i class="fa fa-edit"></i><span>Modifier la carte</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{{ path('category_new') }}"><i class="fa fa-plus"></i> Ajouter une categorie</a></li>
                        {% for category in restaurantCategories() %}
                        <li><a href="{{ path('category_show', {id:category.id}) }}"><i class="fa {% if category.visible %}fa-eye{% else %}fa-eye-slash{% endif %}"></i> {{ category.name }}</a></li>
                        {% endfor %}
                        <li><a href="{{ path('option_list_index') }}"><i class="fa fa-list"></i> Liste d'options</a></li>
                    </ul>
                </li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                <li class="sub-menu">
                    <a href="javascript:void(0);"><i class="fa fa-lock"></i><span>Administration</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                    <ul>
                        <li><a href="{{ path('admin_restaurant_index') }}" title="Administration des restaurants">Restaurants</a></li>
                        <li><a href="{{ path('admin_user_index') }}" title="Administration des utilisateurs">Utilisateurs</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </aside>
    <!--sidebar left end-->
{% endif %}