{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <h3>Historique - {{ day|date('d/m/Y') }}</h3>
    </div>

<div class="history">
    {% for order in history %}
    <div class="history_order">
        <h3>{{ order.tableName }} - #{{ order.id }} ({{ order.totalPrice }}€)</h3>
        {% if order.orderDate is not null %}
        Heure de commande: <em>{{ order.orderDate|date('h\\hi') }}</em><br/>
        {% endif %}
        {% if order.paymentDate is not null %}
        Heure de paiement: <em>{{ order.paymentDate|date('h\\hi') }}</em><br/>
        {% endif %}
        {% if order.orderDate is not null and order.startDate is not null %}
        Temps de commande: <em>{{ date_difference(order.orderDate, order.startDate) }}</em><br/>
        {% endif %}
        {% if order.paymentDate is not null and order.orderDate is not null %}
        Temps de préparation: <em>{{ date_difference(order.paymentDate, order.orderDate) }}</em><br/>
        {% endif %}
        Temps total:  <em>{{ date_difference(order.paymentDate, order.startDate) }}</em><br/>
        {% include 'IOOrderBundle:Default:order_item_list.html.twig' with {order:order} %}
    </div>
    {% endfor %}
</div>

{% endblock %}
