{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
        {% include 'IOOrderBundle:Dashboard:_left_menu.html.twig' %}
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <h1 class="page-header">Historique - {{ day|date('d/m/Y') }}</h1>

        <div class="history">
            {% for order in history %}
            <div class="history_order">
                <h3>{{ order.customer.name|default('-') }} - #{{ order.id }} ({{ order.totalPrice }}€)</h3>
                {% if order.orderDate is not null %}
                Heure de commande: <em>{{ order.orderDate|date('h\\hi') }}</em><br/>
                {% endif %}
                {% if order.orderDate is not null and order.startDate is not null %}
                Temps de commande: <em>{{ date_difference(order.orderDate, order.startDate) }}</em><br/>
                {% endif %}
                <h4>Statuts</h4>
                <ul>
                {% for status in order.orderStatuses %}
                    <li>{{ status.date|date('h\\hi') }}: {{ status.oldStatus }} -> {{ status.newStatus }}</li>
                {% else %}
                    <em>Aucun statut</em>
                {% endfor %}
                </ul>
                <h4>Paiments</h4>
                <ul>
                {% for payment in order.orderPayments %}
                    <li>{{ payment.date|date('h\\hi') }}: <strong>{{ payment.amount }}</strong> <em>{{ payment.type|trans }} ({{ payment.status|trans }})</em></li>
                {% else %}
                    <em>Aucun paiement</em>
                {% endfor %}
                </ul>
                <h4>Commande</h4>
                {% include 'IOOrderBundle:Default:order_item_list.html.twig' with {order:order} %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
