{% extends "IODefaultBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <h3>Historique - {{ day|date('d/m/Y') }}</h3>
    </div>

<div class="history">
    {% for order in history %}
    <div class="history_order">
        <h3>{{ order.tableName }} - #{{ order.id }} ({{ order.totalPrice }}€)</h3>
        {% if order.orderDate is not null and order.startDate is not null %}
        <em>Temps de commande: {{ date_difference(order.orderDate, order.startDate) }}</em>
        {% endif %}
        {% if order.paymentDate is not null and order.orderDate is not null %}
        <em>Temps de préparation: {{ date_difference(order.paymentDate, order.orderDate) }}</em>
        {% endif %}
        <em>Temps total: {{ date_difference(order.paymentDate, order.startDate) }}</em>
        {% include 'IOOrderBundle:Default:order_item_list.html.twig' with {order:order} %}
    </div>
    {% endfor %}
</div>

{% endblock %}
