{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <h3>{{ dish.name|raw }}</h3>
        <span class="actionbar">
            <a class="btn btn-danger" href="#"><i class="fa fa-trash-o"></i> </a>
        </span>
        <div class="clearfix"></div>
    </div>

    {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.price) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.file) }}
                
            <div>
                <label>Image actuelle</label>
                {% if dish.media %}
                    <img title="Miniature {{ dish.name }}" class="img-rounded" src="{{ dish.media.thumbnailPath|imageLink }}" alt="Image" />
                {% else %}
                    <em>Aucune image disponible</em>
                {% endif %}
            </div>

        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-12">
            {{ form_rest(form) }}
        </div>
        <div class="clearfix"></div>
    {{ form_end(form) }}

{% endblock %}