{% extends "IOCarteBundle::layout.html.twig" %}

{% block content %}

    <div class="content-header">
        <h3>Ajouter un plat</h3>
    </div>

    {{ form_start(form) }}
        <div class="col-md-6">
            <div class="form-group">
                {{ form_row(form.name) }}
            </div>
            <div class="form-group">
                {{ form_row(form.price) }}
            </div>
            <div class="form-group">
                {{ form_row(form.description) }}
            </div>
            <div class="form-group">
                {{ form_row(form.category) }}
            </div>
        </div>
        <div class="col-md-6">
            {{ form_row(form.file) }}
        </div>
        <div class="clearfix"></div>
        
        <div class="col-md-12">
            <div class="form-group">
                {{ form_row(form.dishOptions) }}
            </div>
            {{ form_rest(form) }}
        </div>
        <div class="clearfix"></div>
    {{ form_end(form) }}
{% endblock %}